* {
font-family: Roboto, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header, footer {
    background-color: #1F2937;
}

button, .action-section {
    background-color: #3882F6
}

/* Header Section */

.header {
    color: white;
    padding-top: 16px;
}

.nav {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}
li {
    color: #E5E7EB;
    font-size: 18px;
}
.header-content {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 0;
    width: 1080px;
    justify-content: space-between;
    margin: 0 auto;
}
.header-information {
    width: 480px;
}
button {
    color: white;
    font-size: 18px;
    padding: 8px 16px;
    border-radius: 12px;
    margin-top: 8px;
}
.placeholder-image {
    width: 480px;
}
.header-text {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
}




























/* Information Section */

.Information-section-heading {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* Quote Section */

.Quote-Section {
    background-color: #E5E7EB
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937
}

.quote-author {
    font-weight: bold;
    text-align: end;
}

/* Call to Action Section */

/* Footer */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #F9FAF8;
}
